@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
}

.none {
  /*  It  is   just for  testting purpose  */
  display: none;
}
.moveApp {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  left: 100%;
}
.header {
  display: flex;
  width: 100%;
  height: 50px;
  margin-left: 0%;
  border-bottom: black 1px solid;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0%;
}

.acountIcon {
  position: absolute;
  top: 30%;
  left: 60%;
  font-size: 1.4rem;
}
.newsDiscount {
  color: grey;
  text-decoration: underline;
}
.header_menu {
  display: flex;
  position: absolute;
  right: 10%;
}
.AiFillHome {
  position: absolute;
  top: 30%;
  right: 45%;
  font-size: 1.4rem;
}
.cart_icon {
  border: 2px solid black;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 50%;
}
.itemsAmount {
  right: 100px;
  display: block;
  position: absolute;
  right: 8.5%;
}
li {
  list-style: none;
}

.crossLine {
  /*   line  in  the middle of  word conosin*/
  width: 150px;
  height: 2px;
  background: #d9b650;
  position: relative;
  left: 45%;
  bottom: 40px;
}

.menuContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 0%;
  width: 80%;
  left: 10%;
  margin-top: 80px;
  z-index: 1;
}
.btnXmobileMenu {
  /*  btn for  hiding the menu  in the mobile view*/
  position: absolute;
  right: 10%;
  top: 0%;
  display: none;
}
.BsFillDown {
  margin-left: 50px;
}

.categoryContainer {
}

.menuIcon {
  display: none;
  font-size: 1.5rem;
  position: fixed;
  top: 2%;
  left: 3%;
  z-index: 2;
  background-color: white;
  padding: 5px;
}

/*  
GREETINGS  COMPONENT STYLING
*/

.greetFast {
  color: lightblue;
}
.greetReliable {
  color: red;
}

.greetShopping {
  position: relative;
  bottom: 14px;
}
.greetContainer {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 80%;
  color: white;
  text-align: center;
  display: grid;
  animation-name: greetAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.greetLinkToItems {
  padding: 5px;
  border: 2px solid lightblue;
  color: white;
}
.greetMessage {
  position: absolute;
  width: 30%;
  display: grid;
  justify-content: center;
  left: 35%;
  bottom: 120%;
}
.slideGallery {
  margin-top: 20px;
  width: 400%;
  display: flex;
  animation-name: slideGallery;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  position: relative;
}
.slideGalleryImg {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}
.blackCoverForSlides {
  width: 100%;
  height: 110vh;
  background: black;
  opacity: 0.65;
  position: absolute;
  top: 127px;
}

.pTagUnderGreet {
  width: 400px;
}

/*billboard*/

.mobile {
  display: none;
}

/*
BRANDS 

*/

.brandContainer {
  display: flex;
  width: 70%;
  position: relative;
  left: 15%;
  justify-content: space-around;
  margin-top: 100px;
}
.brandImg {
  width: 150px;
}
/*
GALLERY   CONTAINER
*/
.galleryContainer {
}
.galleryItemContainer {
}
.GalleryBlackSpace {
  width: 10%;
  height: 50px;
  background-color: black;
  opacity: 0.2;
  position: relative;
  top: 50px;
}
.itemName {
  text-transform: uppercase;
  position: relative;
  top: 50px;
  width: 200px;
  color: black;
}
.galleryImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

/*

HOME  PAGE  COMPONENTS
*/

.homePagebodyContainer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.homePageImg {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-top: 20px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.orangeColor {
  color: orange;
}
.collectionAnnouncement {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
  font-size: 1rem;
  justify-content: center;
}
.dateAgenda {
  border-top: 1px solid black;
  padding-top: 50px;
  width: 300px;
  margin-left: 220px;
}
.greyColor {
  color: grey;
}
.shopBtn:hover {
  color: orange;
}

/*
MARCOS  COLLECTION
*/
.marcosContainer {
  margin-top: 80px;
  border-top: 1px solid grey;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}
.marcosGreeting {
  display: flex;
  justify-content: space-around;
}
.marcosProductsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0px;
  position: relative;
  right: 0px;
  transition: 1s;
}
.collectionImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.singleMacrosItem {
  width: 350px;
}
.marcosFont {
  font-family: "Water Brush", cursive;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
  text-decoration: underline;
}
.macrosBtncontainer {
  display: none;
}
.marcosBtn {
  padding: 20px;
  color: black;
  font-weight: bold;
}

/*
BEST SELLING  COLLECTION.


*/
.BestSellFont {
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
  text-decoration: underline;
}

.bestSellersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*
DISPLAY  COMPONENT 
*/

.productsContainer {
  display: grid;
  position: relative;
  width: 60%;
  left: 40%;
  grid-template-columns: repeat(3, 1fr);
}
.itemImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.productsPage {
  margin-top: 80px;
  display: flex;
}

/*
SINGLE  PRODUCT  
*/

.singleItemContainer {
  position: relative;
}
.itemTitle {
}
.itemPrice {
  text-decoration: underline;
  color: red;
}
.itemHeart {
  position: absolute;
  top: 25%;
  right: 10%;
  border: 1px solid black;
  background-color: black;
  padding: 5px;
  color: lightblue;
}
.itemHeart:hover {
  color: orange;
  border: 1px solid orange;
}
.itemDiscount {
  position: absolute;
  left: 15%;
  border: 1px solid black;
  background-color: black;
  padding: 5px;
  color: lightblue;
}

.itemDetailBtn,
.addToCartBtn {
  font-family: sans-serif;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  bottom: 80px;
  margin-right: 15px;
}
.whiteBottomImg {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 50px;
  left: 20px;
}
.addToCartBtn {
}

/* media  queries */
/*
LOADING COMPONENT
*/
.loadingContainer {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
}
.loadingCart {
  font-size: 3.5rem;
  border: 10px solid black;
  padding: 50px;
}
.loadingMovingSquare {
  width: 150px;
  height: 170px;
  background-color: transparent;
  border: 35px solid white;
  position: absolute;
  animation-name: loadingMovingSquare;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*

ABOUT 
ABOUT
ABOUT
*/
.aboutContainer {
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  position: relative;
}
.aboutOrangaContainer {
  position: absolute;
  background-color: orange;
  width: 20%;
  height: 60vh;
  top: 16%;
  left: 46%;
}
.aboutImg {
  width: 40%;
  height: 60%;
  object-fit: cover;
  position: absolute;
}
.aboutImg2 {
  width: 20%;
  height: 25%;
  object-fit: cover;
  position: absolute;
  bottom: 25%;
  left: 44%;
}
.aboutSection {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%;
  height: 40%;
  border: 5px #e4d5b7 solid;
  background-color: #faf0e6;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  padding: 5px;
}
.aboutDescription {
  margin-top: 50px;
  font-size: 0.8rem;
  color: rgb(109, 106, 106);
}
/*
CONTACT 
CONTACT  
CONTACT
*/
.contactContainer {
  margin-top: 40px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 22%;
}
.contactIconContainer {
  border-bottom: grey 1px solid;
  width: 250px;
  height: auto;
  margin-top: 10px;
  position: relative;
}
.contactIconContainer > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.contactIconContainer > p:hover {
  color: orange;
  text-decoration: underline;
  height: auto;
}

/*
specificItem
specificItem
specificItem
*/

.specificItemContainer {
  margin-top: 80px;
  display: flex;
  width: 80%;
  position: relative;
  left: 10%;
  justify-content: space-between;
  text-align: center;
}
.specificItemImg {
  width: 50%;
  margin-right: 100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 30px;
}
.specificItemInfo {
  text-align: center;
}
.specificItemDesc {
  font-size: 0.9rem;
  color: grey;
}
.starIcon {
  color: #d9b650;
}
.specificItemCartBtn {
  color: orange;
  text-decoration: underline;
}
.specificItemCartBtn:hover {
  color: black;
  text-decoration: none;
}
/*   
CART
CART
CART
*/
.cartComponent {
  margin-top: 50px;
  padding-bottom: 50px;
  display: grid;
  justify-items: center;
}
.cartClear {
  border: 1px solid black;
  padding: 5px;
}
.cartClear:hover {
  background-color: black;
  color: orange;
}
.cartContainer {
  margin-top: 5px;
  display: grid;
  width: 70%;
  gap: 10px;
}
.cartItemContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px grey solid;
  padding-bottom: 10px;
  position: relative;
}
.cartImg {
  width: 150px;
  height: 120px;
  object-fit: cover;
  border: 1px solid black;
}
.cartPlusMinus {
  display: flex;
  flex-direction: column;
}
.cartBtn,
.cartBtnPlus,
.cartBtnMinus {
  position: relative;
  width: 30px;
  height: 30px;
  background: white;
  font-weight: bold;
}
.cartBtnPlus {
  top: 10px;
}
.cartBtnMinus {
  bottom: 10px;
}
.cartBtn:hover,
.cartBtnMinus:hover,
.cartBtnPlus:hover {
  background: orange;
}
.cartBuyBtn {
  width: 120px;
  height: 30px;
  background-color: black;
  color: lightblue;
  border: lightblue 1px solid;
  font-size: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 10px;
}
.cartBuyBtn:hover {
  border: black 2px solid;
  background-color: orange;
  color: black;
}
.deleteCartItem {
  position: absolute;
  top: 40%;
  right: -15%;
  border-bottom: 1px solid grey;
  padding: 5px;
}
.deleteCartItem:hover {
  color: orange;
  background-color: black;
}
/* HOVERING  AND OTHER   EFFECTS*/
.marcosBtn:hover {
  color: red;
}
.itemDetailBtn:hover,
.addToCartBtn:hover {
  color: red;
}

/*
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
MEDIA  QUERIES 
*/
@media only screen and (max-width: 500px) {
  .settingsBtn {
    display: none;
  }

  .acountIcon {
    position: relative;
    left: 90px;
    font-size: 1.5rem;
    bottom: 2px;
  }
  .latestNews {
    display: none;
  }
  ul {
    display: flex;
  }
  .header_menu {
    left: -10%;
  }
  .itemsAmount {
    right: 15%;
  }
  .cart_icon {
    right: 10%;
  }
  .crossLine {
    left: 30%;
  }
  .menuIcon {
    display: block;
  }
  .menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: -10px;
    height: 100vh;
    left: -110%;
    width: 110%;
    margin-top: 50px;
    z-index: 1;
    background-color: white;
  }
  .btnXmobileMenu {
    display: block;
    position: absolute;
  }

  /*
  GREETINGS
  */

  .GreetBtn {
    font-size: 0.8rem;
    position: relative;
    right: 90px;
  }
  .GreetBtn:hover {
    color: orange;
  }
  /*billboard*/

  /*BRANDS */
  .brandContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .brandImg {
    width: 70px;
  }

  /*  
 CALLERY   CONTAINER
 */

  .slideGallery {
    width: 100%;
  }
  .slideGalleryImg {
    width: 100%;
  }
  .blackCoverForSlides {
    top: 25px;
  }
  /*
   
   
   
   GREEEET
   
   */
  .greetContainer {
    top: 70%;
  }
  /*    home   page  components*/
  .homePagebodyContainer {
    grid-template-columns: 1fr;
    width: 70%;
    position: relative;
    left: 15%;
    margin-bottom: 80px;
    border-bottom: 1px solid grey;
  }
  .homePageImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .homePageImg {
    width: 250px;
    height: 250px;
    border-top: 1px grey solid;
  }
  .orangeColor {
    color: orange;
  }
  .collectionAnnouncement {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    left: 15%;
    font-size: 0.7rem;
    justify-content: center;
  }
  .dateAgenda {
    width: 70%;
    margin-left: 15%;
  }

  /* MACROS  COLLECTION*/
  .marcosGreeting {
    display: grid;
  }
  .marcosContainer {
    display: none;
  }

  .macrosBtncontainer {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    right: 31px;
  }

  .productsContainer {
    width: 100%;
    left: 0%;
    grid-template-columns: 1fr;
  }
  .itemImg {
    width: 100%;
    height: 180px;
  }
  .singleItemContainer {
  }
  .productsPage {
    position: relative;
    display: grid;
  }

  .bestSellersContainer {
    grid-template-columns: 1fr;
  }
  /*
SINGLE  PRODUCT  
*/

  .itemDiscount {
    position: absolute;
    left: 15%;
  }
  .itemDetailBtn,
  .addToCartBtn {
    font-size: 0.6rem;
  }
  .whiteBottomImg {
    width: 100%;
    height: 50px;
    bottom: 40px;
    left: 0px;
  }
  .btnContainer {
    display: flex;
  }
  .itemDiscount {
    top: 21%;
    left: 1%;
  }
  .itemHeart {
    top: 26%;
    right: 1%;
  }

  /*
  ABOUT 
  ABOUT
  ABOUT
  */
  .aboutImg {
    width: 100%;
    height: 60vh;
    top: 15%;
    left: 0%;
  }
  .aboutImg2 {
    display: none;
  }
  .aboutOrangaContainer {
    display: none;
  }
  .aboutSection {
    width: 90%;
    top: 55%;
    left: 2%;
  }
  /*
  CONTACT
  CONTACT

  */
  .contactContainer {
    grid-template-columns: 1fr;
    width: 70%;
    left: 19%;
  }
  .contactIconContainer {
    margin-top: 10px;
    padding-top: 10px;
  }
  .specificItemContainer {
    flex-direction: column;
  }
  .specificItemImg {
    width: 100%;
  }
  /*
CART 
CART
CART
  */
  .cartImg {
    width: 100px;
    height: 80px;
  }
}

@keyframes loadingMovingSquare {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes slideGallery {
  0% {
    left: 0%;
  }
  2% {
    left: -100%;
  }
  15% {
    left: -100%;
  }
  17% {
    left: -200%;
  }
  30% {
    left: -200%;
  }
  32% {
    left: -300%;
  }
  50% {
    left: -300%;
  }
  52% {
    left: -200%;
  }
  65% {
    left: -200%;
  }
  68% {
    left: -100%;
  }
  80% {
    left: -100%;
  }
  85% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes greetAnimation {
  from {
    opacity: 0;
    left: 0%;
  }
  70% {
    opacity: 0;
  }
  to {
    left: 30%;
    opacity: 1;
  }
}
