.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.none {
  /*  It  is   just for  testting purpose  */
  display: none;
}
.moveApp {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  left: 200px;
}
.header {
  display: flex;
  width: 90%;
  height: 50px;
  margin-left: 5%;
  border-bottom: black 1px solid;
  position: relative;
}
.newsDiscount {
  color: grey;
  text-decoration: underline;
}
.header_menu {
  display: flex;
  position: absolute;
  right: 10%;
}
.cart_icon {
  border: 2px solid black;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: -30%;
}
li {
  list-style: none;
}
.title {
  margin-top: 40px;
  color: #d9b650;
  font-family: "Lucida Console", "Courier New", monospace;
}
.letterC {
  /*  first  letter  in  word Conosin*/
  font-size: 40px;
}
.crossLine {
  /*   line  in  the middle of  word conosin*/
  width: 150px;
  height: 2px;
  background: #d9b650;
  position: relative;
  left: 45%;
  bottom: 40px;
}

.menuContainer {
  display: flex;
  width: 55%;
  position: relative;
  left: 21%;
  justify-content: space-between;
}
.btnXmobileMenu {
  /*  btn for  hiding the menu  in the mobile view*/
  position: absolute;
  right: 0%;
  top: -10%;
  display: none;
}
.BsFillDown {
  margin-left: 50px;
}

.categoryContainer {
}

.menuIcon {
  display: none;
  font-size: 1.5rem;
}

.searchIcon {
  font-size: 1.5rem;
  position: absolute;
  right: 10%;
  top: 25%;
}
/*  
GREETINGS  COMPONENT STYLING
*/

.greetContainer {
  position: fixed;
  top: 35%;
  left: 5%;
  z-index: 1;
}
.newSeason {
  width: 200px;
}
.GreetBtn {
  font-size: 1rem;
  background-color: white;
  position: relative;
  top: 30px;
  right: 100px;

  border: 1px solid black;
}

/*billboard*/
.imgContainer {
  display: flex;
  position: relative;
  left: 40%;
  transition: 1s;
}
.mobile {
  display: none;
}

.billBoard {
  padding-right: 35%;

  object-fit: cover;
  position: relative;
  height: 70vh;
}

/*
GALLERY   CONTAINER
*/
.galleryContainer {
}
.galleryItemContainer {
}
.GalleryBlackSpace {
  width: 10%;
  height: 50px;
  background-color: black;
  opacity: 0.2;
  position: relative;
  top: 50px;
}
.itemName {
  text-transform: uppercase;
  position: relative;
  top: 50px;
  width: 200px;
  color: black;
}
.galleryImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

/* HOVERING  AND OTHER   EFFECTS*/
.btn:hover {
  color: #d9b650;
}
.menuIcon:hover {
  color: #d9b650;
}
p:hover {
  color: #d9b650;
}

/* media  queries */

@media only screen and (max-width: 500px) {
  .settingsBtn {
    display: none;
  }
  .accountBtn {
    display: none;
  }
  .latestNews {
    display: none;
  }
  ul {
    display: flex;
  }
  .header_menu {
    left: -10%;
  }
  .cart_icon {
    right: 0%;
  }
  .crossLine {
    left: 30%;
  }
  .menuIcon {
    display: block;
  }
  .menuContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: -200px;
    width: 200px;
    height: 350px;
    margin-top: 50px;
    z-index: 1;
    background-color: white;
  }
  .btnXmobileMenu {
    display: block;
  }
  .searchIcon {
    top: 25%;
    right: 2%;
  }
  /*
  GREETINGS
  */
  .newSeason {
    width: 100px;
  }
  .trustStyle {
    font-size: 1rem;
  }
  .conosin {
    font-size: 1rem;
  }
  /*billboard*/
  .billBoard {
    padding-left: -5%;
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
  .mobile {
    display: block;
  }

  .imgContainer {
    display: none;
  }

  /*  
 CALLERY   CONTAINER
 */
  .galleryContainer {
  }
  .galleryItemContainer {
  }
  .itemName {
  }
  .galleryImage {
  }
}
