@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
}

.none {
  /*  It  is   just for  testting purpose  */
  display: none;
}
.moveApp {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  left: 200px;
}
.header {
  display: flex;
  width: 90%;
  height: 50px;
  margin-left: 5%;
  border-bottom: black 1px solid;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0%;
}
.newsDiscount {
  color: grey;
  text-decoration: underline;
}
.header_menu {
  display: flex;
  position: absolute;
  right: 10%;
}
.cart_icon {
  border: 2px solid black;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: -30%;
}
li {
  list-style: none;
}
.title {
  margin-top: 40px;
  color: #d9b650;
  font-family: "Lucida Console", "Courier New", monospace;
}
.letterC {
  /*  first  letter  in  word Conosin*/
  font-size: 40px;
}
.crossLine {
  /*   line  in  the middle of  word conosin*/
  width: 150px;
  height: 2px;
  background: #d9b650;
  position: relative;
  left: 45%;
  bottom: 40px;
}

.menuContainer {
  display: flex;
  width: 55%;
  position: relative;
  left: 21%;
  justify-content: space-between;
}
.btnXmobileMenu {
  /*  btn for  hiding the menu  in the mobile view*/
  position: absolute;
  right: 10%;
  top: 0%;
  display: none;
}
.BsFillDown {
  margin-left: 50px;
}

.categoryContainer {
}

.menuIcon {
  display: none;
  font-size: 1.5rem;
}

.searchIcon {
  font-size: 1.5rem;
  position: absolute;
  right: 15%;
  top: 20%;
}
/*  
GREETINGS  COMPONENT STYLING
*/

.greetContainer {
  position: relative;
  top: 35%;
  left: 5%;
  z-index: 1;
}
.newSeason {
  width: 200px;
}
.GreetBtn {
  font-size: 1rem;
  background-color: white;
  position: relative;
  top: 30px;
  right: 150px;

  border: 1px solid black;
}
.pTagUnderGreet {
  width: 400px;
}

/*billboard*/
.imgContainer {
  display: flex;
  position: relative;
  left: 40%;
  transition: 1s;
}
.mobile {
  display: none;
}
.imgContainerMobile {
  display: none;
  position: relative;
}
.billBoard {
  padding-right: 45%;
  object-fit: cover;
  position: relative;
  height: 70vh;
}
.billBoardMobile {
  width: 300px;
}

/*
BRANDS 

*/

.brandContainer {
  display: flex;
  width: 70%;
  position: relative;
  left: 15%;
  justify-content: space-around;
  margin-top: 100px;
}
.brandImg {
  width: 150px;
}
/*
GALLERY   CONTAINER
*/
.galleryContainer {
}
.galleryItemContainer {
}
.GalleryBlackSpace {
  width: 10%;
  height: 50px;
  background-color: black;
  opacity: 0.2;
  position: relative;
  top: 50px;
}
.itemName {
  text-transform: uppercase;
  position: relative;
  top: 50px;
  width: 200px;
  color: black;
}
.galleryImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

/*

HOME  PAGE  COMPONENTS
*/

.homePagebodyContainer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.homePageImg {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-top: 20px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.orangeColor {
  color: orange;
}
.collectionAnnouncement {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
  font-size: 1rem;
}
.dateAgenda {
  border-top: 1px solid black;
  padding-top: 50px;
  width: 300px;
  margin-left: 220px;
}
.greyColor {
  color: grey;
}
.shopBtn:hover {
  color: orange;
}

/*
MARCOS  COLLECTION
*/
.marcosContainer {
  margin-top: 80px;
  border-top: 1px solid grey;
  padding-top: 50px;
}
.marcosGreeting {
  display: flex;
  justify-content: space-around;
}
.marcosProductsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0px;
  position: relative;
  right: 0px;
  transition: 1s;
}
.collectionImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.singleMacrosItem {
  width: 350px;
}
.marcosFont {
  font-family: "Water Brush", cursive;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
  text-decoration: underline;
}
.macrosBtncontainer {
  display: none;
}
.marcosBtn {
  padding: 20px;
  color: black;
  font-weight: bold;
}

/*
BEST SELLING  COLLECTION.


*/
.BestSellFont {
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
  text-decoration: underline;
}

/*
DISPLAY  COMPONENT 
*/

.productsContainer {
  display: grid;
  position: relative;
  width: 60%;
  left: 40%;
  grid-template-columns: repeat(3, 1fr);
}
.itemImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.productsPage {
  margin-top: 80px;
}
.filtersContainer {
  width: 30%;
  height: 100vh;
  position: absolute;
  background-color: green;
  top: 30%;
  left: 10%;
}
/*
SINGLE  PRODUCT  
*/

.singleItemContainer {
  position: relative;
}
.itemTitle {
}
.itemPrice {
  text-decoration: underline;
  color: red;
}
.itemHeart {
  position: absolute;
  top: 25%;
  right: 10%;
  border: 1px solid black;
  background-color: black;
  padding: 5px;
  color: lightblue;
}
.itemDiscount {
  position: absolute;
  left: 15%;
  border: 1px solid black;
  background-color: black;
  padding: 5px;
  color: lightblue;
}
.itemDetailBtn,
.addToCartBtn {
  font-family: sans-serif;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  bottom: 80px;
  margin-right: 15px;
}
.whiteBottomImg {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 50px;
  left: 20px;
}
.addToCartBtn {
}

/* media  queries */
/*
LOADING COMPONENT
*/
.loadingContainer {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
}
.loadingCart {
  font-size: 3.5rem;
  border: 10px solid black;
  padding: 50px;
}
.loadingMovingSquare {
  width: 150px;
  height: 170px;
  background-color: transparent;
  border: 35px solid white;
  position: absolute;
  animation-name: loadingMovingSquare;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* HOVERING  AND OTHER   EFFECTS*/
.marcosBtn:hover {
  color: red;
}
.itemDetailBtn:hover,
.addToCartBtn:hover {
  color: red;
}

@media only screen and (max-width: 500px) {
  .settingsBtn {
    display: none;
  }
  .accountBtn {
    display: none;
  }
  .latestNews {
    display: none;
  }
  ul {
    display: flex;
  }
  .header_menu {
    left: -10%;
  }
  .cart_icon {
    right: 0%;
  }
  .crossLine {
    left: 30%;
  }
  .menuIcon {
    display: block;
  }
  .menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0%;
    height: 100vh;
    left: -200px;
    width: 200px;
    margin-top: 50px;
    z-index: 1;
    background-color: white;
  }
  .btnXmobileMenu {
    display: block;
    position: absolute;
  }
  .searchIcon {
    top: 23%;
    right: 2%;
  }
  /*
  GREETINGS
  */
  .greetContainer {
    top: 80%;
    left: 11%;
  }
  .newSeason {
    width: 100px;
  }
  .trustStyle {
    font-size: 1rem;
    width: 200px;
  }

  .GreetBtn {
    font-size: 0.8rem;
    position: relative;
    right: 90px;
  }
  .GreetBtn:hover {
    color: orange;
  }
  /*billboard*/
  .imgContainer {
    display: none;
  }
  .billBoardMobile {
    object-fit: cover;
    width: 280px;
    padding-right: 100px;
    height: 300px;
  }

  .imgContainerMobile {
    top: 50px;
    display: flex;
    position: relative;
    left: -380px;
    animation-name: imgContainerMobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  /*BRANDS */
  .brandContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .brandImg {
    width: 70px;
  }

  /*  
 CALLERY   CONTAINER
 */
  .galleryContainer {
  }
  .galleryItemContainer {
  }
  .itemName {
  }
  .galleryImage {
  }
  /*    home   page  components*/
  .homePagebodyContainer {
    grid-template-columns: 1fr;
    width: 70%;
    position: relative;
    left: 12%;
  }
  .homePageImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .homePageImg {
    width: 250px;
    height: 250px;
    border-top: 1px grey solid;
  }
  .orangeColor {
    color: orange;
  }
  .collectionAnnouncement {
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    font-size: 0.9rem;
  }
  .dateAgenda {
    width: 200px;
    margin-left: 30px;
  }

  /* MACROS  COLLECTION*/
  .marcosGreeting {
    display: grid;
  }
  .marcosContainer {
  }

  .macrosBtncontainer {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    right: 31px;
  }
  /*.
  
.marcosContainer {
  margin-top: 80px;
  border-top: 1px solid grey;
  padding-top: 50px;
}
.marcosGreeting {
  display: flex;
  justify-content: space-around;
}
.marcosProductsContainer {
  display: grid;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 80px;
  position: relative;
  right: 10%;
}
.collectionImg{
  width: 250px;
  height: 250px;
  object-fit: cover;
  
}
  
  */

  .productsContainer {
    width: 60%;
    left: 0%;
    grid-template-columns: 1fr 1fr;
    left: 15px;
  }
  .itemImg {
    width: 180px;
    height: 180px;
  }
  .singleItemContainer {
    margin-right: 10px;
  }
  .productsPage {
    position: relative;
  }
  .filtersContainer {
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
  }
  /*
SINGLE  PRODUCT  
*/

  .itemDiscount {
    position: absolute;
    left: 15%;
  }
  .itemDetailBtn,
  .addToCartBtn {
    font-size: 0.6rem;
  }
  .whiteBottomImg {
    width: 100%;
    height: 50px;
    bottom: 40px;
    left: 0px;
  }
  .btnContainer {
    display: flex;
  }
  .itemDiscount {
    top: 21%;
    left: 1%;
  }
  .itemHeart {
    top: 26%;
    right: 1%;
  }
}

@keyframes imgContainerMobile {
  0% {
    left: 50px;
  }
  50% {
    left: -380px;
  }
  100% {
    left: -750px;
  }
}

@keyframes loadingMovingSquare {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
